/* You can add global styles to this file, and also import other style files */
form.form-style{
  background-color: #eeecec;
  border-radius: 4px;
  padding: 10px;
}
div.validation-error{
  color: red;
  text-align: center;
}

button:hover,a.btn:hover{
  cursor: pointer;
}

.rightaling{
  text-align: right;
}
.leftaling{
  text-align: left;
}
.padding {
  padding: 10px;
}

.maxprioritymargin{
  margin-left: -50px;
}

