
<form class="form-style" #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
  <div id="pageContainer" class="container">
    <input type="hidden" name="TaskID" #TaskID="ngModel" [(ngModel)]="sharedService.selectedTask.TaskID">
    <div class="row">
        <div class="col-md-2">
            <label class="form-text ">Project </label>
        </div>
        <div class="form-group col-md-8">
          <select required name="ProjectID" #ProjectID="ngModel" class="form-control" [(ngModel)]="sharedService.selectedTask.ProjectID">
          <option value="undefined">Please select Project</option>
          <option *ngFor="let project of sharedService.projectList"
                  [ngValue]="project.ProjectID">
              {{project.ProjectName}}
          </option>
          </select>
          <div class="validation-error" *ngIf="ProjectID.invalid && ProjectID.touched">Project is Required.</div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <label class="form-text ">Task </label>
      </div>
      <div class="form-group col-md-8">
        <input class="form-control" name="TaskDesc" #TaskDesc="ngModel" [(ngModel)]="sharedService.selectedTask.TaskDesc"
          placeholder="Task Description" required>
        <div class="validation-error" *ngIf="TaskDesc.invalid && TaskDesc.touched">Task Description is Required.</div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2">
        <label class="form-text"></label>
    </div>
    <div class="form-group col-md-4">
        <label class="checkbox-inline"><input type="checkbox" name="isParentTask" (change)="parentchecked($event)">  Parent Task</label>
    </div>
  </div>
  <div *ngIf="!isParentTask">
    <div class="row">
      <div class=" form-group col-md-2">
            <label class="form-text">Priority</label>
      </div>
      <div class="form-group col-md-8">
        <label class="form-text">0</label><input class="form-control" name="Priority" (input)="priorityValueChanged($event.target.value)" type="range" min="0" max="30" value="sharedService.selectedTask.Priority">
      </div>
      <div class="form-group col-md-2 leftaling maxprioritymargin "><label class="form-text">30</label></div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <label class="form-text ">Parent Task</label>
      </div>
      <div class="form-group col-md-8">
        <select  name="ParentID" #ParentID="ngModel" class="form-control" [(ngModel)]="sharedService.selectedTask.ParentID">
          <option value="undefined">Please select Parent Task</option>
          <option *ngFor="let parenttask of sharedService.parentTaskList"
                  [ngValue]="parenttask.ParentID">
              {{parenttask.TaskDesc}}
          </option>
          </select>
      </div>
  </div>
    <div class="row">
       <div class="col-md-2">
        <label class="form-text">Start Date</label>
       </div>
      <div class="form-group col-md-4">
        <input class="form-control" name="StartDate" #StartDate="ngModel" [(ngModel)]="sharedService.selectedTask.StartDate" placeholder="Start Date">
      </div>
      <div class="col-md-2">
          <label class="form-text">End Date</label>
         </div>
      <div class="form-group col-md-4">
          <input  class="form-control" name="EndDate" #EndDate="ngModel" [(ngModel)]="sharedService.selectedTask.EndDate" placeholder="End Date" >
        </div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <label class="form-text ">User </label>
      </div>
      <div class="form-group col-md-8">
          <select required name="UserID" #UserID="ngModel" class="form-control" [(ngModel)]="sharedService.selectedTask.UserID">
          <option value="undefined">Please select User</option>
          <option *ngFor="let user of sharedService.userList"
                  [ngValue]="user.UserID">
              {{user.FirstName}}  {{user.LastName}}
          </option>
          </select>
          <div class="validation-error" *ngIf="UserID.invalid && UserID.touched">User is Required.</div>
      </div>
  </div>
</div>
    <div class="row">
      <div class="form-group col-md-4">
        <button type="submit" name="btnSubmit" class="btn btn-block btn-lg btn-info">
          <i class="fa fa-floppy-o"></i>{{this.btnSubmitText}}</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(taskForm)">
          <i class="fa fa-repeat"></i> Reset</button>
      </div>
    </div>
  </div>
  </form>


  <script>
    $(window).unload(function(){
      localStorage.removeItem('editTaskID');
    });

  </script>
