<div class="row padding">
  <h4> Project Details</h4>
  <div class="table-responsive table-container">
      <table class="table">
          <tbody>
            <tr *ngFor="let project of sharedService.projectList">
              <td>
                <div class="container dvlst">
                    <div  class="row">
                       <div class="col-md-10">
                           <div class="container backgrnd">
                                 <div class="row">
                                     <div class="col-md-4">Project:</div>
                                     <div class="col-md-8">{{project.ProjectName}}</div>
                                 </div>
                                 <div class="row">
                                     <div class="col-md-3">Total Tasks:</div>
                                     <div class="col-md-3">{{project.TotalTasks}}</div>
                                     <div class="col-md-3">Completed:</div>
                                     <div class="col-md-3">{{project.CompletedTasks}}</div>
                                 </div>

                                 <div class="row">
                                     <div class="col-md-3">Start Date:</div>
                                     <div class="col-md-3">{{project.StartDate}}</div>
                                     <div class="col-md-3">End Date:</div>
                                     <div class="col-md-3">{{project.EndDate}}</div>
                                 </div>
                           </div>
                       </div>
                       <div class="col-md-1">
                         <div class="row">Priority</div>
                         <div class="row backgrnd">{{project.Priority}}</div>
                       </div>
                       <div class="col-md-1">
                           <div class="row " > <button (click)="deleteProject(project.ProjectID)" class="btn btn-info actionbtn"> Delete</button></div>
                           <div class="row" > <button (click)="editProject(project)"  class="btn btn-info actionbtn"> Edit</button></div>
                       </div>
                     </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
